@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;

}
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #242021;
    text-decoration: none;
}
header {
    padding: 5px 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo {
    cursor: pointer;
    margin-right: auto;
}
.navbar{
    background-color: #ffffff;
}
.navLinks {
    list-style: none;
}
.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a {
    transition: all 0.5s ease 0s
}
.navLinks li a:hover {
    color: rgb(24, 107, 188);
}
button {
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgb(24, 107, 188);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;

}
.mainTitle {
    margin: 10%;
    top:40px;
    position: absolute;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #151313;
}

.mainText {
    margin: 10%;
    width: 50%;
    top:100px;
    position: absolute;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #151313;
    overflow: hidden;
}
.mainImage {
    width: 1900px;
}

button:hover {
    background-color: rgb(18, 77, 138);
}

.whiteBG {
    background-color: #ffffff;
    height: 900px;
}
.greyBG {
    background-color: #f3f3f3;
    height: 900px;
    width: 100%;
}
.sectionTitle {
    padding-top: 100px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 1000;
    color: #1f1d20;
    letter-spacing: 2px;

}
.scanner {
    height: 24vw;
    width: 42vw;
    float: right;
    margin: 5%;
}
.leftText {
    width: 50%;
    text-decoration: none;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1f1d1f;
    letter-spacing: 2px;
    padding: 10%;

}
.rightText {
    width: 50%;
    float: right;
    text-decoration: none;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1f1d1f;
    letter-spacing: 2px;
    padding: 7%;
    margin:auto;
}

.statIMG {
    height: 420px;
    width: 480px;
    float: left;
    margin: 10%;
    position: absolute;
}

.childIMG {
    height: 470px;
    width: 750px;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}



@media only screen and (min-width: 1000px) {
    }
    .wrapper {
        width: 1000px;
    }

    .main-content h2 {
        padding: 10px 0px 0px;
    }

    .ligthviewBlack {
        width: 50%;
    }

    .lightviewWhite {
        width: 50%;
        float: right;
    }

    .lightviewSpecs {
        width: 50%;
    }
    .footer {
        display: block;
    }
    .team-image {
        width: 100%;
    }
}


