@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    background-color: #ffffff;

}
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #242021;
    text-decoration: none;
}
header {
    padding: 5px 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo {
    cursor: pointer;
    margin-right: auto;
}
.navbar{
    background-color: #ffffff;
}
.navLinks {
    list-style: none;
}
.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a {
    transition: all 0.5s ease 0s
}
.navLinks li a:hover {
    color: rgb(24, 107, 188);
}
button {
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgb(24, 107, 188);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;

}
.mainTitle {
    margin: 10%;
    top:40px;
    position: absolute;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #151313;
}

.mainText {
    margin: 10%;
    width: 50%;
    top:100px;
    position: absolute;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #151313;
    overflow: hidden;
}
.mainImage {
    width: 100%;
}

button:hover {
    background-color: rgb(18, 77, 138);
}

.whiteBG {
    background-color: #ffffff;
    height: 900px;
}
.greyBG {
    background-color: #e3e3e3;
    height: 900px;
    width: 100%;
}
.sectionTitle {
    padding-top: 100px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 1000;
    color: #1f1d20;
    letter-spacing: 2px;

}
.scanner {
    height: 24vw;
    width: 42vw;
    float: right;
    margin: 5%;

}
.leftText {
    width: 50%;
    text-decoration: none;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1f1d1f;
    letter-spacing: 2px;
    padding: 10%;

}
.rightText {
    width: 50%;
    float: right;
    text-decoration: none;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1f1d1f;
    letter-spacing: 2px;
    padding: 7%;
    margin:auto;
}

.statIMG {
    height: 420px;
    width: 480px;
    float: left;
    margin: 10%;
    position: absolute;
}

.childIMG {
    height: 425px;
    width: 750px;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}


.footer {
    padding: 70px 0px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #1F1D1F;
}
.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height 100%;
}
.inner_footer .logo-container {
    width: 35%;
    height: 100%;
    float: left;
    display: block;
}
.inner_footer .logo-container img{
    padding-top: 5%;
    width: 40%;
    height: auto;
}
.inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}
.inner_footer .footer_third:last-child() {
    margin-right: 0;
}
.inner_footer .footer_third h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner_footer .footer_third a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200px;
    width: 100%;
    padding-bottom: 5px;
}
.inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: bottom;
}
.inner_footer .footer_third span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}
@media(max-width:600px){
    .footer .inner_footer {
        width: 90%;
    }
    .inner_footer .logo-container,
    .inner_footer .footer_third {
        width: 100%;
        margin: 30%;
    }
}